<h1>Stupid coaching</h1>

<div class="question">
  <%= @question %><br/>
  - <em>You</em>
</div>

<div class="answer">
  <strong><%= @answer %></strong><br/>
  - <em>Your coach</em>
</div>

<div class="button">
<%= link_to "Ask another question", ask_path %>
</div>
